body{
height: 800px;
background: #FFFFFF;
font-family: 'Poppins', sans-serif;
}

.current{
	color: #f2994a;
	font-weight: 500;
}
.home-btn{
    flex-grow: 0;
}
.navbar-main{
    justify-content: flex-end;
    width: 100%;
}

.navbar-nav{
    width:50%;
    display: flex;
    justify-content: space-evenly;
}

div>label{
	color:black;
	font-weight: 700;
}

.form-control-lg {
 	height: calc(1.5em + 1rem + 8px);
    border-radius: .5rem;
}

.home-container{
    display: flex;
    flex-direction: row;
    
}
.text-container{
    width:50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image-container{
    display: flex;
    width: 50%;
    justify-content: right;
}

.center{
	text-align: center;
}

.btn {
  text-align: center;
  width: 40%;
  background-size: 100% auto;
  color: white;
  border-radius: 10px;
  background-color: black;
  border-color: black;
 }

 .bg-light {
    background-color: #ffffff!important;
}


.black {
    background: #000!important;
    width: 133px;
    height: 384px;
    
}


.text-group{
    padding-left: 2rem;

}

.ui{

width: 583px;
height: 216px;
left: 165px;
top: 335px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 72px;
color: #444444;

}

.nav-group{
width: 615px;
height: 29.02px;
left: 688px;
top: 43px;

}

.text{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 72px;
color: #444444;
}

.picture{
width: 90%;
height: 500px;
object-fit: cover;
}

.home-content{
    padding: 4rem 0;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.center {
margin: auto;
width: 60%;
padding: 10px;
}

.name{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 38px;
color: #000000;
}


.btn-primary {
    color: #fff;
    background-color: black; 
    width: 124.78px;
height: 45.73px;
}

.grey {
background: linear-gradient(
    to bottom, 
    transparent 50%,
    #C4C4C4 50%
    );
}

@media only screen and (max-width:920px){
    .black{
        display: none;
    }
    .home-container{
        flex-direction: column;
        align-items: center;
        justify-content:center;
        padding: 1rem;
    }
    .image-container{
        width: 100%;
        justify-content: center;
        padding-top:4rem;
    }
    .text-container{
        width:100%;
    }
    .picture{
        width: 90%;
        height: 400px;
        object-fit: cover;
        }
    .text{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 50px;
        color: #444444;
        padding-bottom: 1rem;
        }
    .name{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        color: #000000;
        }
}

@media only screen and (max-width:550px){
    .text{
        font-size: 20px;
        line-height: 30px;
        
    }
    .name{
        font-size: 20px;
        padding-bottom: 1rem;
        
    }
}